.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    }

.popup-inner {
    position: relative;
    width: clamp(300px, 50%, 500px);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.popup-inner label {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-inner input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}