body .loginScreen{
    margin: 0; 
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

body .loginScreen{
    background-image: url("../src/client/assets/loginScreenBackGround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 890px;
}


.container{
    position: center;
    display: flex; 
    flex-direction: column;
    width: 450px;
    padding-bottom: 30px;
    backdrop-filter: blur(25px);
    border: 2px solid black; 
    border-radius: 15px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 9px;
    width: 100%; 
    margin-top: 30px;
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 20px; 
}

.headerLogin{
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-left: 90px;
}

.inputBox{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 40px;
}


.forgotPass{
    margin-top: 20px; 
    font-size: 25px;
}

.register{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}

.buttonContainer{ 
    margin-top: 20px ;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input{
    height: 50px;
    padding-inline: 20px 50px;
    border: 2px solid black;
    border-radius: 20px ;
    background: transparent;
    font-size: 20px;
}

.loginButton{ 
    height: 60px;
    width: 200px;
    font-size: 30px;
}