

/*
.navSearch {
    overflow: hidden; 
}

.navSearch a {
    float: left; 
    display: block; 
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.navSearch a.active {
    background-color: #2196F3;
    color: white;
}

.navSearch input[type=text]{
    float: right; 
    padding: 6px; 
    border: none; 
    margin-top: 8px; 
    margin-right: 16px; 
    font-size: 17px; 
} */ 