.meal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meal-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(000, 000, 000, 0.25);
}

.meal-card:hover {
  background-color: rgba(000, 000, 000, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.meal-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}